
<div style="float: left">
    <input type="text" ng-model="search" class="search-query" placeholder="Local Search">
</div>

<div style="float: right">
    <a href="#/new" class="btn btn-primary">New</a>    
</div>

<div style="float: clear;"></div>

<table width="80%" class="table">
    <thead>
    <tr>
        <th class='hidden-phone'>Id</th>
        <th>Full Name</th>
        <th class='hidden-phone'>Title</th>
        <th>Phone</th>
        <th class='hidden-phone'>Email</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="contact in contacts">
        <td class='hidden-phone'>{{contact.Id}}</td>
        <td ><a href="#/view/{{contact.Id}}">{{contact.FirstName}} {{contact.LastName}}</a></td>
        <td class='hidden-phone'>{{contact.Title}}</td>
        <td>{{contact.Phone}}</td>
        <td class='hidden-phone'>{{contact.Email}}</td>


    </tr>
    </tbody>
</table>